### Estudio de nacimientos en EEUU

In [1]:
import pandas as pd

In [7]:
dt1 = pd.read_csv("yob2000.txt", header=None, names=("nombre","sexo","cuenta"))
dt1.set_index(["nombre","sexo"], inplace=True)
dt1.head()

              cuenta
nombre  sexo
Emily   F      25953
Hannah  F      23078
Madison F      19967
Ashley  F      17996
Sarah   F      17691

In [8]:
dt1.loc["Madison"]

      cuenta
sexo
F      19967
M        138

In [9]:
dt2 = pd.read_csv("yob2001.txt", header=None, names=("nombre","sexo","cuenta"))
dt2.set_index(["nombre","sexo"], inplace=True)
dt2.head()

              cuenta
nombre  sexo
Emily   F      25054
Madison F      22162
Hannah  F      20709
Ashley  F      16526
Alexis  F      16399

In [14]:
suma = dt1.add(dt2, fill_value=0)
suma.sort_values("cuenta", ascending=False, inplace=True)
suma.head(10)

                   cuenta
nombre      sexo
Jacob       M     67006.0
Michael     M     61712.0
Matthew     M     55376.0
Joshua      M     53547.0
Emily       F     51007.0
Christopher M     48048.0
Nicholas    M     47490.0
Andrew      M     46040.0
Joseph      M     44822.0
Hannah      F     43787.0

In [15]:
from os import listdir

In [20]:
def cargaFichero(path):
    dt = pd.read_csv(path, header=None, names=("nombre","sexo","cuenta"))
    dt.set_index(["nombre","sexo"], inplace=True)   
    return dt

In [22]:
for f  in listdir():
    ext = f.partition(".")[2]
    if ext == 'txt':
        print(f)
        dt = cargaFichero(f)
        print(dt.head(3))
    else:
        print('otro fichero')
print('...')

otro fichero
otro fichero
yob2000.txt
              cuenta
nombre  sexo
Emily   F      25953
Hannah  F      23078
Madison F      19967
yob2001.txt
              cuenta
nombre  sexo
Emily   F      25054
Madison F      22162
Hannah  F      20709
yob2002.txt
              cuenta
nombre  sexo
Emily   F      24460
Madison F      21772
Hannah  F      18818
yob2003.txt
              cuenta
nombre  sexo
Emily   F      25688
Emma    F      22702
Madison F      20197
yob2004.txt
              cuenta
nombre  sexo
Emily   F      25032
Emma    F      21604
Madison F      20619
yob2005.txt
              cuenta
nombre  sexo
Emily   F      23934
Emma    F      20336
Madison F      19564
...

In [23]:
sem = "rojo"

if sem=='rojo':
    print("parar")
    
elif sem == 'verde':
    print("pasar")
    
else:
    print('precaución')

parar