## Pruebas con la librería pandas y numpy

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "Demo_Pandas/Pedidos.csv"

In [3]:
dfPedidos = pd.read_csv(path, sep=';')

In [4]:
dfPedidos.head()

   idpedido cliente  idempleado  idempresa  importe       pais
0     10248   WILMK           5          3    32.38  Finlandia
1     10249   TOMSP           6          1    11.61   Alemania
2     10250   HANAR           4          2    65.83     Brasil
3     10251   VICTE           3          1    41.34    Francia
4     10252   SUPRD           4          2    51.30    Belgica

In [5]:
dfPedidos.tail()

     idpedido cliente  idempleado  idempresa  importe            pais
825     11073   PERIC           2          2    24.95          Mexico
826     11074   SIMOB           7          2    18.44       Dinamarca
827     11075   RICSU           8          2     6.19           Suiza
828     11076   BONAP           4          2    38.28         Francia
829     11077   RATTC           1          2     8.53  Estados Unidos

In [6]:
dfPedidos.shape

(830, 6)

In [7]:
dfPedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   idpedido    830 non-null    int64
 1   cliente     830 non-null    object
 2   idempleado  830 non-null    int64
 3   idempresa   830 non-null    int64
 4   importe     830 non-null    float64
 5   pais        830 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 39.0+ KB

In [8]:
dfPedidos.describe()

           idpedido  idempleado   idempresa      importe
count    830.000000  830.000000  830.000000   830.000000
mean   10662.500000    4.403614    2.008434    78.244205
std      239.744656    2.499648    0.778899   116.779294
min    10248.000000    1.000000    1.000000     0.020000
25%    10455.250000    2.000000    1.000000    13.380000
50%    10662.500000    4.000000    2.000000    41.360000
75%    10869.750000    7.000000    3.000000    91.430000
max    11077.000000    9.000000    3.000000  1007.640000

In [9]:
dfPedidos['iva'] = round(dfPedidos.importe * 0.21, 2)

In [10]:
dfPedidos.head()

   idpedido cliente  idempleado  idempresa  importe       pais    iva
0     10248   WILMK           5          3    32.38  Finlandia   6.80
1     10249   TOMSP           6          1    11.61   Alemania   2.44
2     10250   HANAR           4          2    65.83     Brasil  13.82
3     10251   VICTE           3          1    41.34    Francia   8.68
4     10252   SUPRD           4          2    51.30    Belgica  10.77

In [13]:
df2 = dfPedidos[(dfPedidos.pais == 'Finlandia') & (dfPedidos.importe > 100)]

In [14]:
df2

     idpedido cliente  idempleado  idempresa  importe       pais    iva
22      10270   WARTH           1          1   136.54  Finlandia  28.67
207     10455   WARTH           8          2   180.45  Finlandia  37.89
305     10553   WARTH           2          2   149.49  Finlandia  31.39

In [17]:
df2.to_excel("Demo_pandas/Finlandia.xlsx", index=False)

Vamos a generar un fichero de pedidos por cada país

In [18]:
# Los paises donde se emiten pedidos:
dfPedidos.pais.value_counts()

pais
Estados Unidos    123
Alemania          122
Brasil             83
Francia            76
Reino Unido        55
Venezuela          46
Austria            40
Suecia             38
Canada             30
Mexico             28
Italia             28
Espanya            23
Finlandia          23
Irlanda            19
Belgica            19
Suiza              18
Dinamarca          18
Argentina          16
Portugal           13
Polonia             6
Noruega             6
Name: count, dtype: int64

In [24]:
paises2 = set(dfPedidos.pais.values)
len(paises2)
paises2

{'Alemania',
 'Argentina',
 'Austria',
 'Belgica',
 'Brasil',
 'Canada',
 'Dinamarca',
 'Espanya',
 'Estados Unidos',
 'Finlandia',
 'Francia',
 'Irlanda',
 'Italia',
 'Mexico',
 'Noruega',
 'Polonia',
 'Portugal',
 'Reino Unido',
 'Suecia',
 'Suiza',
 'Venezuela'}

In [23]:
paises = dfPedidos.pais.unique()
paises

array(['Finlandia', 'Alemania', 'Brasil', 'Francia', 'Belgica', 'Suiza',
       'Venezuela', 'Austria', 'Mexico', 'Estados Unidos', 'Suecia',
       'Italia', 'Espanya', 'Reino Unido', 'Irlanda', 'Portugal',
       'Canada', 'Dinamarca', 'Polonia', 'Noruega', 'Argentina'],
      dtype=object)

In [26]:
for pais in paises2:
    pathFichero = f"Demo_pandas/paises/{pais}.xlsx"
    dfPais = dfPedidos[dfPedidos.pais == pais]
    dfPais.to_excel(pathFichero, index=False)
    print(pathFichero)

Demo_pandas/paises/Venezuela.xlsx
Demo_pandas/paises/Italia.xlsx
Demo_pandas/paises/Austria.xlsx
Demo_pandas/paises/Suecia.xlsx
Demo_pandas/paises/Noruega.xlsx
Demo_pandas/paises/Canada.xlsx
Demo_pandas/paises/Estados Unidos.xlsx
Demo_pandas/paises/Mexico.xlsx
Demo_pandas/paises/Francia.xlsx
Demo_pandas/paises/Espanya.xlsx
Demo_pandas/paises/Suiza.xlsx
Demo_pandas/paises/Polonia.xlsx
Demo_pandas/paises/Irlanda.xlsx
Demo_pandas/paises/Alemania.xlsx
Demo_pandas/paises/Brasil.xlsx
Demo_pandas/paises/Portugal.xlsx
Demo_pandas/paises/Reino Unido.xlsx
Demo_pandas/paises/Belgica.xlsx
Demo_pandas/paises/Argentina.xlsx
Demo_pandas/paises/Dinamarca.xlsx
Demo_pandas/paises/Finlandia.xlsx

In [27]:
# indexar por columna:
dfPedidos.cliente

0      WILMK
1      TOMSP
2      HANAR
3      VICTE
4      SUPRD
       ...
825    PERIC
826    SIMOB
827    RICSU
828    BONAP
829    RATTC
Name: cliente, Length: 830, dtype: object

In [28]:
dfPedidos.cliente[0]

'WILMK'

In [29]:
dfPedidos.loc[2]

idpedido       10250
cliente        HANAR
idempleado         4
idempresa          2
importe        65.83
pais          Brasil
iva            13.82
Name: 2, dtype: object

In [30]:
dfPedidos.loc[2]['importe']

65.83